// col-xl-# ( ≥1200px)
@include media-breakpoint-down(xl) {

}
// col-lg-# ( ≥992px)
@include media-breakpoint-down(lg) {
  nav.header--nav a {
    font-size: 14px;
  }
  .contenter .contenter--more {
    font-size: 13px;
  }
  .domain-line .domain-line--item {
    &:nth-child(4) {
      &:before {
        right: 15px;
      }
    }
    &:nth-child(5) {
      &:before {
        left: 15px;
      }
    }
  }
  .footer-widget {
    margin-bottom: 20px;
  }
}
// col-md-# ( ≥768px)
@include media-breakpoint-down(md) {
  article.article-tariffs {
    .mobileScroll {
      min-width: 100%;
      z-index: 1;
      overflow-x: auto;
      border-radius: 0 5px 5px 0;
      background: #fff no-repeat;
      background-image: radial-gradient(ellipse at 100% 35%,#bebebe,#fff 40%);
      background-position: 100% 0;
      background-size: 20px 140%;
    }
    .tariffs--shared {
      background: transparent no-repeat;
      background-image: linear-gradient(to right,white 0%,white 100%);
      background-position: 100% 0;
      background-size: 12px 100%;


      width: 100%;
      border-collapse: separate;
      border: 0;
      margin: 0;
      padding: 0;
      th {
        font-size: 12px;
        font-weight: normal;
      }
      td {
        text-align: center;
        width: auto;
        &:nth-child(5) {
          min-width: 180px;
        }
      }
      .price-country {
        margin-right: 0;
      }
      .is--ssl,
      .is--ssd{
        margin-right: 0;
      }
      .month-price,
      .is-yearprice {
        width: auto;
        text-align: center;
      }
      .mobile-block,
      .is-yearprice {
        hyphens: none;
        display: block;
        word-wrap: break-word;
      }
      .mobile-block{
        min-width: 50px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  body.home nav.header--nav {
    margin-bottom: 20px;
  }
  nav.header--nav a {
    text-align: center;
  }
  .rating-item--features .rating-download, .rating-item--features .rating-phpinfo, .rating-item--features .rating-review, .rating-item--features .rating-speed, .rating-item--features .rating-tarifs, .rating-item--features .rating-uptime {
    font-size: 13px;
  }
  .rookie-choise {
    padding-top: 70px;
    p {
      font-size: 15px;
      line-height: 1;
    }
  }
  .rookie-news--item {
    margin-bottom: 20px;
  }
  .cmshost {
    margin-bottom: 20px;
    padding-bottom: 14px;
    .cmshost-choise--list .cmshost-list--item {
      margin-bottom: 10px;
    }
  }
  .domain-line .domain-line--item {
    margin-bottom: 20px;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      &:before {
        right: 15px;
        left: 15px;
      }
    }
  }

}
// col-sm-# ( ≥576px)
@include media-breakpoint-down(sm) {
  header .header--logo, header .header--logo a {
    align-content: center;
  }
  header .header--contact,
  header .header--currency {
    justify-content: center;
  }
  nav.header--nav {
    >.container {
      padding: 0;
    }
    a {
      font-size: 13px;
    }
  }
  .home-rating {
    order: 1;
  }
  .whatisit {
    order: 2;
    .whatisit--what {
      margin-bottom: 80px;
    }
    .whatisit--what,
    .whatisit--dontlike,
    .whatisit--verybad,
    .whatisit--whay,
    .whatisit--move {
      margin-bottom: 160px;
      &:after {
        bottom: -70px;

        @include triangle(32px 70px, $black, down);
      }
    }
    .whatisit--what {
      margin-bottom: 90px !important;
    }
    .whatisit--move {
      margin-bottom: 0 !important;
    }
    .whatisit--dontlike {
      h6 {
        text-align: center;
      }
    }
  }
  .home-rating--title {
    margin-bottom: 20px;
  }
  .rookie--title {
    margin-bottom: 20px;
  }
  .rookie-choise{
    padding-top: 30px;
    &:before {
      position: relative;
      top: auto;
      left: auto;

      float: left;

      width: 75px;
      height: 75px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .rookie-choise--list {
      margin-bottom: 24px;
    }
    .rookie-choise--more {
      width: 100%;
      margin-bottom: 20px;

      text-align: center;
    }
  }
  .rookie-news .rookie-news--item h6 {
    font-size: 17px;
  }

}
// col-# ( <575.5px)
@include media-breakpoint-down(xs) {
  header .header--contact, header .header--currency, header .header--logo {
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  header .header--logo {
    padding-top: 10px;
  }
  header .header--logo, header .header--logo a {
    align-content: flex-start;
  }
  header .header--contact,
  header .header--currency {
    justify-content: flex-start;
  }

  body.home nav.header--nav {
    margin-bottom: 0;
  }

  body {
    padding-top: 150px;
  }

  header {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;

    background-color: #fff;
    box-shadow: $base-box-shadow;
  }

  nav {
    &.header--nav {
      position: fixed;
      z-index: 6;
      top: 10px;
      right: 15px;

      width: 50px;
      height: 50px;
      margin-bottom: 0;

      cursor: pointer;

      border-top: 7px solid $orange;
      border-bottom: 7px solid $orange;
      background-color: transparent;
      &:before, &:after {
        position: absolute;
        right: 0;
        left: 0;

        display: block;

        height: 7px;

        content: '';

        background-color: $orange;
      }
      &:before {
        top: 7px;
      }
      &:after {
        bottom: 7px;
      }
      ul {
        display: none;
      }
    }
    &.header--nav__opened {
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 0;
      border-bottom: 0;
      &:before,
      &:after {
        top: 20px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $orange;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(315deg);
      }
      ul {
        position: fixed;
        z-index: 5;
        top: 70px;
        right: 0;
        left: 0;
        padding-bottom: 10px;

        display: block;

        padding: 0 15px;

        background-color: #fff;
        li {
          display: block;

          width: auto;
          margin-bottom: 10px;

        }
      }
      span {
        display: none;
      }
      a {
        height: auto;
      }
    }
  }
  .home-rating--title {
    padding: 15px 15px 5px;
    h1 {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 6px;
      span {
        display: block;
      }
    }
  }
  .rating-item  {
    padding-top: 0;
    margin-bottom: 15px;
    .rating-item--title {
      text-align: center;
      background-position: center 40px;
    }
    .rating-item--link {
      margin-bottom: 60px;
    }
    .rating-item--name,
    .rating-item--review {
      margin-left: 0;
    }
  }
  .rating-item--features {
    justify-content: space-around;
    .rating-review,
    .rating-phpinfo,
    .rating-download,
    .rating-uptime,
    .rating-speed,
    .rating-tarifs {
      width: 120px;
    }
  }
  .rating-item--descr {
    padding: 12px;
    .rating-descr--position,
    .rating-descr--start {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      text-align: left;
      margin-bottom: 10px;
    }
  }
  .rating-item--bottom {
    .rating-bottom--reviews,
    .rating-bottom--pricing,
    .rating-bottom--counts {
      margin-right: 0;
      height: auto;
      width: 100%;
      margin-bottom: 15px;
    }
    .rating-bottom--counts {
      text-align: center;
      padding: 8px;
    }
  }
}
